APP_URL_DEV=http://localhost:3000
APP_URL_PROD=https://aosl-online-api.onrender.com

CLOUDINARY_KEY=174165413341926
CLOUDINARY_NAME=dixjxrdrg
CLOUDINARY_SECRET=I5joXK5Jdc8UPv0VlklzKFQjr7g

FRONTEND_URL=https://aosl-online.com/
FRONTEND_VERIFY_URL=https://aosl-online.com/verify
GOOGLE_API_KEY=AIzaSyAbusiq_vtdy2pKFwWbjxiwtdbZNn9q-8s

JWT_EXPIRES=1000s
JWT_SECRET=6674766676WGDTWDGT62358E7

# MONGODB_URI_DEV=mongodb://localhost/chinos_db
MONGODB_URI_DEV=mongodb+srv://younmikec:Thisisme1@cluster0.kdpzx.mongodb.net/aosl_db?retryWrites=true&w=majority
MONGODB_URI_PROD=mongodb+srv://younmikec:Thisisme1@cluster0.kdpzx.mongodb.net/aosl_db?retryWrites=true&w=majority

PORT=3000
SMTP_HOST=smtp.gmail.com
SMTP_PASS=gtmbzjlnsvxgngij
SMTP_PORT=465
SMTP_USER=michaelozor15@gmail.com
EMAIL_API_KEY=re_gF4TGwQt_9WrxUfN1KWAS8kKnbLvzMXdC

PAYPAL_MODE=sandbox
# PAYPAL_MODE=live
PAYPAL_CLIENT_ID=AQX5hpK1_9M090AvryRxZbvJ_EzXu8U3oNSsEB_vEJU6i5QXhRijRgSMj5oFLEPcLO81iX9fNKh16JL1
PAYPAL_CLIENT_SECRET=EOjfoxaYUwUZrSTpPWOAJFP7Pwq-msUW8U7t9O8rnxwnqLGZx5W7Lmly2tx0Wrkr-XA0MVFcEEdv8U4r